<h1 class='title'>Ember Leaflet Tiles Provider</h1>

<h2>Open Topo Map</h2>
{{#leaflet-map lat=51.512983 lng=-0.138289 zoom=12}}
  {{tile-layer provider='OpenTopoMap' apiKey='12345' accessToken='54321'}}
{{/leaflet-map}}

<h2>Stamen Watercolor</h2>
{{#leaflet-map lat=51.512983 lng=-0.138289 zoom=8}}
  {{tile-layer provider='Stamen.Watercolor' app_id='12345' app_code='54321'}}
{{/leaflet-map}}

<h2>Stament Toner Lite</h2>
{{#leaflet-map lat=51.512983 lng=-0.138289 zoom=8}}
  {{tile-layer provider='Stamen.TonerLite'}}
{{/leaflet-map}}

<h2>Esri World Imagery</h2>
{{#leaflet-map lat=51.512983 lng=-0.138289 zoom=4}}
  {{tile-layer provider='Esri.WorldImagery'}}
{{/leaflet-map}}

<h2>Esri World Physical</h2>
{{#leaflet-map lat=51.512983 lng=-0.138289 zoom=4}}
  {{tile-layer provider='Esri.WorldPhysical'}}
{{/leaflet-map}}
